@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");

.blog-slider {
  width: 95%;
  height: 60vh;

  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  // height: 400px;
  transition: all 0.3s;

  @media screen and (max-width: 992px) {
    max-width: 680px;
    height: 400px;
  }

  @media screen and (max-width: 768px) {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    height: 350px;
  }

  &__item {
    display: flex;
    align-items: center;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &.swiper-slide-active {
      .blog-slider__img {
        img {
          opacity: 1;
          transition-delay: 0.3s;
        }
      }
      .blog-slider__content {
        > * {
          opacity: 1;
          transform: none;

          @for $i from 0 to 15 {
            &:nth-child(#{$i + 1}) {
              transition-delay: $i * 0.1 + 0.3s;
            }
          }
        }
      }
    }
  }

  &__img {
    // width: 40%;
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    background-image: linear-gradient(147deg, #39feac 0%, #cff3d2 74%);
    box-shadow: 4px 13px 30px 1px rgba(5, 99, 1, 0.2);
    border-radius: 20px;
    transform: translateX(-80px);

    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(147deg, #39feac 0%, #cff3d2 74%);
      border-radius: 20px;
      opacity: 0.8;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      opacity: 0;
      border-radius: 20px;
      transition: all 0.3s;
    }

    @media screen and (max-width: 992px) {
      // width: 45%;
    }
    @media screen and (max-width: 768px) {
      transform: translateY(-50%);
      width: 90%;
    }
    @media screen and (max-width: 576px) {
      width: 95%;
    }
    @media screen and (max-height: 500px) and (min-width: 992px) {
      height: 270px;
    }
  }

  &__content {
    // width: 60%;
    padding-right: 25px;
    @media screen and (max-width: 992px) {
      // width: 55%;
    }
    @media screen and (max-width: 768px) {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 0;
    }
    > * {
      opacity: 0;
      transform: translateY(25px);
      transition: all 0.4s;
    }
  }

  &__code {
    color: #7b7992;
    margin-bottom: 15px;
    display: block;
    font-weight: 500;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    color: #0d0925;
    margin-bottom: 20px;
  }

  &__text {
    color: #4e4a67;
    margin-bottom: 30px;
    line-height: 1.5em;
  }

  &__button {
    display: inline-flex;
    background-image: linear-gradient(147deg, #3fb5aa 0%, #a0d3ad 40%);
    padding: 15px 35px;
    border-radius: 50px;
    color: rgb(255, 255, 255);
    box-shadow: 0px 14px 80px rgba(252, 56, 56, 0.4);
    text-decoration: none;
    font-weight: 500;
    justify-content: center;
    text-align: center;
    letter-spacing: 1px;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }
  .swiper-container-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 10px;
    left: 0;
    width: 100%;
  }
  &__pagination {
    display: flex;
    justify-content: center;
    margin: -27px 0px;
    /* padding: 6px; */
    height: 20px;
    width: 20px;
    border-radius: 50%;
    z-index: 1;
    // list-style: none;
    // float: left;
    // z-index: 21;
    // right: 20px;
    // width: 11px !important;
    // text-align: center;
    // left: auto !important;
    // // top: 50%;
    // bottom: auto !important;
    // transform: translateY(-50%);
    @media screen and (max-width: 768px) {
      transform: translateX(-50%);
      left: 50% !important;
      top: 205px;
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 8px 25px;
      @media screen and (max-width: 768px) {
        margin: 0 10px;
      }
    }

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      border-radius: 10px;
      background: #062744;
      opacity: 0.2;
      transition: all 0.3s;
      z-index: 1;
      &-active {
        opacity: 1;
        background: #ebe720;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        box-shadow: 0px 0px 20px rgba(208, 247, 34, 0.3);
        animation: btn-pulse 1.5s infinite cubic-bezier(0.3, 0, 0, 0.5);

        @media screen and (max-width: 768px) {
          height: 11px;
          width: 30px;
        }
      }
      @keyframes btn-pulse {
        0% {
          box-shadow: 2px 3px 7px transparent;
        }
        20% {
          box-shadow: 2px 3px 7px #a0d3ad;
        }
        100% {
          box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
        }
      }
    }
  }
}

// ________________________________

.cardWrappe {
  width: 50%;
  margin: 0 auto;
  // left: calc(50% - 300px);
  display: flex;
}

.card {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: -3px 0 40px rgba(160, 211, 173, 0.3);
  /*   margin-left: -50px; */
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
  margin-left: -50px;
}

.card:hover {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.titleCard {
  color: black;
  font-weight: 300;
  position: absolute;
  left: 20px;
  top: 15px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 20px;
  height: 5px;
  width: 150px;
}

.emptybar {
  background-color: rgba(160, 211, 173, 0.5);
  width: 90%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  z-index: 3;
  width: 0px;
  height: 100%;
  background: rgb(0, 154, 217);
  background: linear-gradient(90deg, #3fb5aa 0%, #a0d3ad 65%, #ebe720 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 120px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 150px;

  img {
    transform: translateY(-20px);
    width: 95%;
    margin: 0 auto;
    border-radius: 5px;
  }
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #3fb5aa;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}

.cardWrapper {
}

.cardProjects {
  img {
  }
}
