#contact {
  margin: 0% 10%;
  width: 30%;
  transform: translate(10px, 5%);

  @media screen and (max-width: 576px) {
    width: 80%;
  }
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  font-size: 0.8em;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
  font-size: 0.8em;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: center;
  font-size: 0.8em;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
  font-size: 0.8em;
}

.groupinput {
  position: relative;
  margin-bottom: 10px;
  @media screen and (max-width: 576px) {
    margin-bottom: 3px;
  }
}

#groupinputemail {
  margin-top: 40px;
  @media screen and (max-width: 576px) {
    margin-top: 5px;
  }
}

.inputform {
  font-size: 12px;
  padding: 5px 5px 5px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}
.inputform:focus {
  outline: none;
}

/* .LABELform ======================================= */
.labelform {
  color: #a0d3ad;
  font-size: 12px;
  font-weight: normal;
  position: relative;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}

/* active state */
.inputform:focus ~ .labelform,
.inputform:valid ~ .labelform {
  top: -20px;
  font-size: 14px;
  color: #3fb5aa;
  @media screen and (max-width: 576px) {
    font-size: 10px;
  }
}

/* BOTTOM BARS ================================= */
.bar {
  position: relative;
  display: block;
  width: 300px;
}
.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: relative;
  background: #3fb5aa;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}

/* active state */
.inputform:focus ~ .bar:before,
.inputform:focus ~ .bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position: relative;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
.inputform:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #3fb5aa;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #3fb5aa;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #3fb5aa;
  }
  to {
    width: 0;
    background: transparent;
  }
}

.submit {
  @media screen and (max-width: 576px) {
    transform: translateY(-15px);
  }
}
