.clouds-wrapper {
  position: relative;
  transform: translateY(70%);
  z-index: 10;
}

.drifting_clouds_right {
  // animation: driftRightFast 70s infinite forwards;
  position: relative;
  width: fit-content;
  z-index: 10;
}
.drifting_clouds_left {
  // animation: driftLeftFast 80s infinite forwards;
  position: relative;
  width: fit-content;

  z-index: 10;
}

.drifting_clouds_right_slow {
  // animation: driftRightSlow 100s infinite forwards;

  position: relative;
  width: fit-content;
  z-index: 10;
}
.drifting_clouds_left_slow {
  // animation: driftLeftSlow 100s infinite forwards;

  position: relative;
  width: fit-content;
  z-index: 10;
}

.cloudBigHome {
  width: 100px;
  position: relative;
  z-index: 10;
  @media screen and (max-width: 1200px) {
    width: 90px;
  }

  @media screen and (max-width: 992px) {
    width: 90px;
  }
  @media screen and (max-width: 768px) {
    width: 80px;
  }
  @media screen and (max-width: 576px) {
    width: 80px;
  }
}

.cloudBig {
  width: 100px;
  position: relative;
  z-index: 10;
}
.cloud_home {
  position: absolute;
  top: 15vh;
}

.pouf2,
.pouf3,
.pouf4,
.pouf5,
.pouf6 {
  position: absolute;
  opacity: 1;
  font-weight: bold;
  font-size: 15px;
  transform: translate(3rem, -5rem);
  color: #a0d3ad;
  font-family: "Pacifico", cursive;
  z-index: 1;
}

.pouf {
  position: absolute;
  animation: flash 2s 1;
  opacity: 0;
  font-weight: bold;
  font-size: 15px;
  font-family: "Pacifico", cursive;
  z-index: 1;
}

.skills-wrapper {
  position: relative;
  z-index: 1;
  /* transform: translate(16rem, -13rem); */
  transform: translateY(-50%);
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 0 auto;
}
.list1 {
  grid-column: 1;
  line-height: 5rem;
}
.list2 {
  grid-column: 2;
  line-height: 5rem;
}
.skills-wrapper ul {
  list-style: none;
  font-family: "Yessica-Regular", serif;
  font-weight: bold;
  justify-self: center;
}
.skills-wrapper ul li {
  font-size: 30px;

  @media screen and (max-width: 1200px) {
    font-size: 30px;
  }

  @media screen and (max-width: 992px) {
    font-size: 30px;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
    line-height: 4rem;
  }
  @media screen and (max-width: 576px) {
    font-size: 20px;
    line-height: 4rem;
  }
}

@keyframes flash {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes driftRightFast {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes driftRightSlow {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes driftLeftFast {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes driftLeftSlow {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}

.hide-clouds {
  visibility: hidden;
}
