.WrapperProject {
}

.imgPart {
  height: 80vh;
}

.ProjectImg {
  width: 30%;
  z-index: 10;
  position: relative;
  margin-top: 9%;
  margin-left: 10%;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
    top: 20%;
  }

  @media screen and (max-width: 992px) {
    width: 20%;
    z-index: 10;
    top: 15%;
    left: 29%;
    position: relative;
    margin-top: 9%;
    margin-left: 10%;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    width: 20%;
    z-index: 10;
    top: 15%;
    left: 29%;
    position: relative;
    margin-top: 9%;
    margin-left: 10%;
    overflow: hidden;
  }
  @media screen and (max-width: 576px) {
    width: 50%;
    z-index: 10;
    top: 20%;
    left: 14%;
    position: relative;
    margin-top: 9%;
    margin-left: 10%;
    overflow: hidden;
  }
}

.textPart {
  background: white;
  height: 360px;
  width: 85%;
  border-radius: 180px;
  box-shadow: 2px 2px 15px rgba(160, 211, 173, 0.5);
  transform: translate(27%, -120%);
  z-index: 1;
  position: relative;
  padding: 10px;

  @media screen and (max-width: 992px) {
    transform: translate(0%, -67%);
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    transform: translate(0%, -67%);
    width: 100%;
  }
  @media screen and (max-width: 576px) {
    transform: translate(0%, -47%);
    width: 100%;
    background: none;
    box-shadow: none;

    .btn-contact {
      font-size: 9px;
    }

    .innerTextPart {
      width: 95%;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }
}

.innerTextPart {
  margin: 0 auto;
  width: 50%;
  margin-top: 5%;
}

.btnProject {
  float: right;
  margin-top: 5%;
}

.titleProject {
  background: linear-gradient(to left, #a4d4ae, #32afa9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 25px;
}

.projetLink {
  font-weight: bold;

  .fas {
    margin-left: 10px;
  }

  .fa-chevron-left {
    margin-left: 0px;
    margin-right: 10px;
  }
}

.bigC {
  z-index: 999;
}
.technos {
}

.wawetImg {
  width: 45%;
  transform: translateX(-13%);
}
