.WrapperProject {
}

.imgPart {
}

.ProjectImg {
  width: 30%;
  z-index: 10;
  position: relative;
  margin-top: 9%;
  margin-left: 10%;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 992px) {
    width: 20%;
    z-index: 10;
    transform: translate(144%, -5%) !important;
    position: relative;
    overflow: hidden;
  }
  @media screen and (max-width: 768px) {
    width: 20%;
    z-index: 10;
    transform: translate(144%, 10%) !important;
    position: relative;
    overflow: hidden;
  }
  @media screen and (max-width: 576px) {
    width: 45%;
    z-index: 10;
    position: relative;
    overflow: hidden;
    transform: translate(30%, 0rem) !important;
  }
}

.textPart {
  background: white;
  height: 290px;
  width: 85%;
  border-radius: 180px;
  box-shadow: 2px 2px 15px rgba(160, 211, 173, 0.5);
  transform: translate(29%, -145%);
  z-index: 1;
  position: relative;
  padding: 10px;

  @media screen and (max-width: 992px) {
    box-shadow: none;
    transform: translate(0%, -10%);
    width: 80%;
    margin: 0 auto;
    background: none;
  }
  @media screen and (max-width: 768px) {
    transform: translate(0%, -8%);
    width: 100%;
  }
  @media screen and (max-width: 576px) {
    transform: translate(0%, 2%);
    width: 100%;
    background: none;
    box-shadow: none;

    .btn-contact {
      font-size: 9px;
    }

    .innerTextPart {
      width: 95%;
    }

    h3 {
      font-size: 14px;
    }

    p {
      font-size: 10px;
    }
  }
}

.innerTextPart {
  margin: 0 auto;
  width: 50%;

  @media screen and (max-width: 992px) {
    width: 80%;
  }
  @media screen and (max-width: 768px) {
    width: 80%;
  }
  @media screen and (max-width: 576px) {
    width: 80%;
  }
}

.btnProject {
  float: right;
  margin-top: 5%;
}

.titleProject {
  background: linear-gradient(to left, #a4d4ae, #32afa9);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 25px;
}

.projetLink {
  font-weight: bold;

  .fas {
    margin-left: 10px;
  }

  .fa-chevron-left {
    margin-left: 0px;
    margin-right: 10px;
  }
}

.bigC {
  z-index: 999;
}
.technos {
}

.wawetImg {
  width: 40%;
  transform: translate(-25%, -20%) !important ;

  @media screen and (max-width: 992px) {
    width: 40%;
    transform: translate(44%, -17%) !important;
  }
  @media screen and (max-width: 576px) {
    width: 80%;
    transform: translate(-5%, 2rem) !important;
  }
}
