.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 33%;
  left: 40%;
  width: 0px;
  height: 300px;
  z-index: 10;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  overflow: hidden;

  @media screen and (max-width: 1200px) {
  }

  @media screen and (max-width: 992px) {
  }
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
  @media screen and (max-width: 576px) {
    top: 67%;
    left: 11%;
    width: 230px;
  }
}

.navigation-item span:before {
  width: 0;
  color: black;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 0.5s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item span:hover:before {
  width: 100%;
}
.navigation-item span {
  color: #32afa9;
}
